<section>
    <a href="/dashboard" class="is-pulled-right">
      <button class="button is-link is-light is-pulled-right">
        Dashboard
      </button>
    </a>
    <h2 class="title is-3">
      Create New Post:
    </h2>
    <hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">
        Title:
      </label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Subject Title"/>
    </div>
    <div class="button-padding">
      <label for="post-content">
        Content:
      </label>
      <input class="textarea is-medium" id="post-content" name="post-content" placeholder="Content "/>
    </div>
    <div class="button-padding">
      <button type="submit" class="button is-link is-pulled-right">
        Post
      </button>
    </div>
  </form>
</section>

<script src="/js/add-post.js"></script>